@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>Home</h1>
    <div>
        @Html.ActionLink("Login Application", "Index", "Login")
    </div>
    <div>
        @Html.ActionLink("Login Logs Application", "Index", "Log")
    </div>
</body>
</html>
